@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>Segundo Examen Parcial</h1>
    <h1> JOSUE ALEXANDER LINARES CARPIO</h1>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <img src="https://storageparcial2018lc602.blob.core.windows.net/gallery/3069ab9774e496dde27fd61a3c4f3452.jpg" />
    <img src="https://storageparcial2018lc602.blob.core.windows.net/gallery/5F7F2ZKX6RHXHC2JC3THCA3ICQ.jpg" />
    <img src="https://storageparcial2018lc602.blob.core.windows.net/gallery/descarga.jpg" />
    <img src="https://storageparcial2018lc602.blob.core.windows.net/gallery/PC-Gamer-Gama-Alta-Peru-Banner.jpg" />
    <img src="https://storageparcial2018lc602.blob.core.windows.net/gallery/pc-gaming-2017-1280x720.jpg" />

</div>
